<h1>Create User</h1>
<form action='<%= users_url %>' method="post">
  <label>
    User_name
  <input type="text" name="user[user_name]">
  </label>
  <label>
    Password
    <input type="password" name="user[password]" >
  </label>
  <input type="submit" value="submit" >
</form>
