<h1>Edit you sub</h1>

<form action= "<%= sub_url(@sub) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   <input type="hidden" name="_method" value="PATCH">
  <label>
    Title: <input type="text" name="sub[title]" value=" <%= @sub.title %>">
  </label>
  <label>
    Description: <textarea name="sub[description]" rows="8" cols="40"> <%= @sub.description %> </textarea>
  </label>
  <input type="submit" value="Submit">
</form>
