<h1>Write Comment</h1>


<form action= "<%= comments_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>
    Comment: <textarea name="comment[content]" rows="8" cols="40"></textarea>
  </label>

  <input type="hidden" name="comment[post_id]" value="<%= params[:post_id]  %>">
  <input type="submit" value="Submit">

</form>
