/* PHASE 5: Cats */
.content-header {
  background: url("../img/cats.jpg") no-repeat;
  background-size: cover;
  width: 900px;
  height: 200px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.content-header h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  position:absolute;
  left: 240px;
  bottom: 18px;
  text-shadow: #000 0 0 10px;
}

.add {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  font-weight: 700;
  padding: 10px 20px;
  position:absolute;
  right: 20px;
  bottom: 20px;

}
